/*導覽列樣式*/
.nav {
    display: flex;
    align-items: center;
    background-color: #a1c6e4;
    color: white;
    height: 60px;
    width: 100%;   
}

/*標題*/
.title a {
    font-family: "cwTeXYen", serif;
    color:#fff;
    font-size:24px;
    margin-left:50px;
    margin-top: 30px;
    letter-spacing: 2px;
    text-decoration: none;
}

/*-------------------------表格-------------------*/
/* 表格樣式 */
table {
    width: 90%;
    border-collapse: collapse;
    align-items: center;
    text-align: center; /* 表格內文字置中 */
    margin: auto; /* 表格置中 */
    margin-bottom: 20px;
}

/* 表頭樣式 */
th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
}

/* 表格內容樣式 */
td {
    padding: 8px;
    border: 1px solid #ddd;
}

/* 偶數行背景色 */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* 滑鼠懸停時變色 */
tr:hover {
    background-color: #ddd;
}


/* ----------------選擇日期功能樣式-------------- */
.choose-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.choose-container .form1 {
    width: 1150px; /* 設定篩選框長度 */
    padding: 10px; /* 設定篩選框寬度 */
    margin-top: 32px;
    margin-bottom: 20px; /*跟表格的距離 */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#date,
#package,
#status{
    width: 10%;
    padding: 8px;
    margin: 1px 20px 1px 5px ;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box; /* 使元素的寬度包含內邊距和邊框，而不包含外邊距 */
    font-size: 14px;
}

#keyword{
    width: 15%;
    padding: 8px;
    margin: 1px 20px 1px 5px ;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box; /* 使元素的寬度包含內邊距和邊框，而不包含外邊距 */
    font-size: 14px;
}


.bt1 {
    background-color:  #a1c6e4;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 8%;
    padding: 6px;
    margin: 1px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box; /* 使元素的寬度包含內邊距和邊框，而不包含外邊距 */

}

.bt1:hover{
    background-color:  #e2e5e8; 
}


label {
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.edit-button {
    padding: 8px 16px;
    background-color: #80bae9;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #bdccd9;
}

/* 模態框整個的位置和樣式 */
.modal-dialog {
    max-width: 600px; /* 限制模態框的最大寬度 */
    margin: 60px auto; /* 垂直和水平居中 */
}
.modal-content {
    border-radius: 30px; /* 整個框的圓角 */
    box-shadow: 0 5px 15px rgba(0,0,0,.5); /* 陰影 */
}
/* 調整模態框標題的樣式 */
.modal-header {
    background-color: #9b9fa2; /* 標題背景顏色 */
    color: #fff; /* 標題文字顏色 */
}
/* 調整關閉按鈕的樣式 */
.modal-header .close {
    color: #fff; /* 關閉按鈕文字顏色 */
}
/* 調整模態框內容的樣式 */
.modal-body {
    max-height: 70vh; /* 設置模態框內容的最大高度 */
    overflow-y: auto; /* 如果內容超出，則顯示垂直滾動條 */
    padding: 20px; /* 內容的內邊距 */
    word-wrap: break-word; /* 允許單詞換行 */
    text-align: left; /* 文字左對齊 */
}
/* 調整表單的樣式 */
.modal-body .edit-group {
    margin-bottom: 15px; /* 表單組之間的間距 */
    max-width: 80%; /* 設置表單組的最大寬度 */
    margin-left: auto;
    margin-right: auto; /* 讓表單組居中 */
}
/* 調整表單控件的樣式 */
.modal-body {
    display: block; /* 讓表單控件成為塊級元素，以佔據整個寬度 */
    width: 100%; /* 設置表單控件的寬度為父元素的寬度 */
    padding: 20px 12px; /* 設置表單控件的內邊距 */
    font-size: 16px; /* 設置表單控件的字體大小 */
    line-height: 1.5; /* 設置表單控件的行高 */
    color: #495057; /* 設置表單控件的文字顏色 */
    background-color: #ffffff; /* 設置表單控件的背景顏色 */
    background-clip: padding-box; /* 設置背景顏色僅在填充框內可見 */
    border: 1px solid #ced4da; /* 設置表單控件的邊框 */
    border-radius: 4px; /* 設置表單控件的圓角 */
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; /* 定義過渡效果 */
}
/* 當鼠標懸停在表單控件上時 */
.modal-body .form-control:hover {
    border-color: #80bdff; /* 設置表單控件的邊框顏色 */
}
/* 當表單控件得到焦點時 */
.modal-body .form-control:focus {
    border-color: #80bae9; /* 設置表單控件的焦點時的邊框顏色 */
    outline: 0; /* 隱藏表單控件的焦點輪廓 */
    box-shadow: 0 0 0 4px rgba(0,123,255,.25); /* 添加焦點時的陰影效果 */
}
/* 調整按鈕的樣式 */
#saveButton{
    background-color: #80bae9; /* 按鈕背景顏色 */
    color: #fff; /* 按鈕文字顏色 */
    border: none; /* 移除按鈕邊框 */
    border-radius: 10px; /* 按鈕圓角 */
    padding: 8px 16px; /* 按鈕內邊距 */
    margin: 0 auto;
    display: block;
    cursor: pointer; /* 鼠標指針 */
}
/* 當鼠標懸停在按鈕上時 */
#saveButton:hover {
    background-color: #0056b3; /* 按鈕背景顏色 */
}
