/*----------------------------導覽列-----------------------------*/
/*導覽列樣式*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a1c6e4;
    margin: 0; 
    color: white;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

/* 醫院Logo樣式 */
.logo img {
    display: block;
    max-width: 100px;  /* 最大寬度 */
    height: auto;    /* 保持高度比例 */
    border: none;    /* 移除圖片邊框 */
    margin: 0%;
    padding: 0;
    margin-left: 40px;  /*增加左邊距讓logo往右移*/
}

/*導覽列鏈接的樣式*/
nav a {
    color: inherit;   /* 移除超連結顏色 */
    display: block;   /* 讓 <a> 填滿 <li> */
    padding: 15px;    /*滑鼠過去的方框大小*/
    color: white;
    font-size: 20px;  /*導覽列列表字體*/
    text-decoration:none;  /* 移除超連結底線 */
}

/* 滑鼠移到 `<a>` 時變成深底淺色 */
ul a:hover {
    background-color: #e2e5e8;
    color: black;
}

/*導覽列表樣式*/
nav ul {
    list-style: none;
    background-color: #a1c6e4;
    margin: 0;
    padding:0;
    border: 0;
    height: 60px;
    align-items: center;
}

/*導覽列靠右邊*/
.flex-nav {
    display: flex;
    justify-content:flex-end; 
}

/*標題*/
/*待解決：文字會跑 但用 position:fixed 微怪*/
.title a {
    font-family: "cwTeXYen", serif;
    color:#fff;
    font-size:26px;
    margin-left:50px;
    letter-spacing: 2px;
    text-decoration: none;
}

/*-------------------------表格-------------------*/
/* 表格樣式 */
table {
    width: 90%;
    border-collapse: collapse;
    align-items: center;
    text-align: center; /* 表格內文字置中 */
    margin: auto; /* 表格置中 */
}

/* 表頭樣式 */
th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
}

/* 表格內容樣式 */
td {
    padding: 8px;
    border: 1px solid #ddd;
}

/* 偶數行背景色 */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* 滑鼠懸停時變色 */
tr:hover {
    background-color: #ddd;
}


/* ----------------選擇日期功能樣式-------------- */
.choose-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 1000px; /* 設定篩選框長度 */
    padding: 10px; /* 設定篩選框寬度 */
    margin-top: 80px;
    margin-bottom: 20px; /*跟表格的距離 */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="date"],
select[type="package"]{
    width: 15%;
    padding: 8px;
    margin: 1px 30px 1px 5px ;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box; /* 使元素的寬度包含內邊距和邊框，而不包含外邊距 */
}

input[type="text"]{
    width: 20%;
    padding: 8px;
    margin: 1px 20px 1px 5px ;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box; /* 使元素的寬度包含內邊距和邊框，而不包含外邊距 */
}


input[type="submit"] {
    width: 10%;
    padding: 8px;
    margin: 1px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box; /* 使元素的寬度包含內邊距和邊框，而不包含外邊距 */
}

.bt1 {
    background-color:  #a1c6e4;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bt1:hover{
    background-color:  #e2e5e8; 
}


label {
    font-weight: bold;
    text-align: center;
    align-items: center;
}

